<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Parts of Speech Mad Libs Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

	</head>

	<body>
        <h1>Parts of Speech Mad Libs Game</h1>
		<form
			action="/"
			method="post">
			 
				Enter a proper noun (name):
				<input
					type="text"
					name="properNoun1" />
			 <br></br>
			 
				Enter a proper noun (name):
				<input
					type="text"
					name="properNoun2" />
			 <br></br>
			 
				Enter a noun:
				<input
					type="text"
					name="noun1" />
			 <br></br>
			 
				Enter a noun:
				<input
					type="text"
					name="noun2" />
			 <br></br>
			 
				Enter a noun:
				<input
					type="text"
					name="noun3" />
			 <br></br>
			 
				Enter a verb:
				<input
					type="text"
					name="verb1" />
			 <br></br>
			 
				Enter a verb:
				<input
					type="text"
					name="verb2" />
			 <br></br>
			 
				Enter a present tense verb:
				<input
					type="text"
					name="verbPresent1" />
			 <br></br>
			 
				Enter a present tense verb:
				<input
					type="text"
					name="verbPresent2" />
			 <br></br>
			 
				Enter an adjective:
				<input
					type="text"
					name="adjective1" />
			 <br></br>
			 
				Enter an adjective:
				<input
					type="text"
					name="adjective2" />
			 <br></br>
			 
				Enter an adjective:
				<input
					type="text"
					name="adjective3" />
			 <br></br>
			 
				Enter an adverb:
				<input
					type="text"
					name="adverb1" />
			 <br></br>
			 
				Enter an adverb:
				<input
					type="text"
					name="adverb2" />
             <br></br>
             <button class="generate-story" type="submit">GenerateStory</button>	
		</form>
        	  
	</body>
</html>
